button {
    background-color: $secondary-color;
    border: none;
    border-radius: 0.5rem;
    color: $white;
    font-weight: $bold-weight;
    padding: 1rem 1.25rem;
    cursor: pointer;

    &:hover {
        background: linear-gradient(
            180deg,
            rgba(255, 106, 58, 1) 0%,
            rgba(255, 82, 123, 1) 100%
        );
        box-shadow: hsl(4, 100%, 67%, 0.5) 0px 16px 32px;
    }
}
